name: Reusable Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      DB_HOST:
        type: string
      DB_PORT:
        type: string
      DB_USERNAME:
        type: string
      DB_DATABASE:
        type: string
      NODE_ENV:
        type: string
    secrets:
      EC2_HOST:
        required: false
      EC2_USER:
        required: false
      EC2_SSH_KEY:
        required: false
      DB_PASSWORD:
        required: false
      AUTH_SECRET:
        required: false

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test
        run: |
          docker build -t my-app:latest .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Test
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: my-app:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-test
    runs-on: self-hosted
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          touch .env
          echo "NODE_ENV=${{ vars.NODE_ENV }}" >> .env
          echo "DB_HOST=${{ vars.DB_HOST }}" >> .env
          echo "DB_PORT=${{ vars.DB_PORT }}" >> .env
          echo "DB_USERNAME=${{ vars.DB_USERNAME }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "DB_DATABASE=${{ vars.DB_DATABASE }}" >> .env
          echo "AUTH_SECRET=${{ secrets.AUTH_SECRET }}" >> .env

      - name: Local Deploy
        run: |
          docker-compose down --remove-orphans
          docker-compose up -d --build
