name: Dev CD

on:
  push:
    branches: [dev]

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: dev
      runner_tag: dev
      DB_HOST: ${{ vars.DB_HOST }}
      DB_PORT: ${{ vars.DB_PORT }}
      DB_USERNAME: ${{ vars.DB_USERNAME }}
      DB_DATABASE: ${{ vars.DB_DATABASE }}
      NODE_ENV: ${{ vars.NODE_ENV }}
    secrets: inherit
