name: Dev CD

on:
  push:
    branches: [dev]

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: dev
    secrets:
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
