name: Production CD

on:
  workflow_dispatch:

jobs:
  call-deploy:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: prod
      runner_tag: prod
      DB_HOST: ${{ vars.DB_HOST }}
      DB_PORT: ${{ vars.DB_PORT }}
      DB_USERNAME: ${{ vars.DB_USERNAME }}
      DB_DATABASE: ${{ vars.DB_DATABASE }}
      NODE_ENV: ${{ vars.NODE_ENV }}
    secrets: inherit
