name: Production CD

on:
  workflow_dispatch:

jobs:
  call-deploy:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: prod
    secrets: inherit
