name: Production CD

on:
  workflow_dispatch:

jobs:
  call-deploy:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: prod
    secrets:
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
